.footer {
    position: fixed; 
    right: 0; 
    bottom: 0;
    display: flex; 
    align-items: center;
    padding: 10px; /* Dodaje odstęp wokół zawartości */
    background-color: transparent; /* Możesz ustawić dowolny kolor tła */
  }
  
  .footer img.logo {
    height: 50px; /* Ustawia wysokość obrazka */
    width: auto; /* Zachowuje proporcje obrazka */
    margin-left: 10px; /* Dodaje odstęp między tekstem a obrazkiem */
  }
  