.main {
  justify-content: center;
  margin: 0 auto;
  flex: 1;
  max-width: 1200px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 32px;
}

.form-box {
  display: flex;
  flex-direction: column;
  background: #e1d2f8;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 16px;
  border: 1px solid white;
  h2 {
    color: #344054;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
  }
  .radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    input[type="radio"] {
      margin-right: 8px;
    }
    label {
      color: #344054;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  input[type="text"] {
    margin-top: 5px;
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    &:disabled {
      background: #e2e8f0;
    }
  }

  .forge_btn {
    padding: 12px 24px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: $app-dark-color;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    font-family: $font-alt;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background: white;
      border: 1px solid $app-dark-color;
      color: $app-dark-color;
      font-size: 18px;
      font-family: $font-alt;
      font-weight: 700;
    }
  }
}

.info-box {
  border: 1px solid white;
  background: $app-dark-color;
  padding: 32px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 16px;
  p {
    font-family: $font-alt;
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: justify;
    font-weight: 400;
    line-height: 24px;
  }
}

.infocontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: $font-alt;
  .inner-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    p {
      color: #344054;
      margin: 0;
      padding: 5px 0;
      &:first-child {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    &:last-child {
      margin-bottom: 0;
      text-decoration: none;
    }
  }
}

.gas-reduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .gas_reduction_wrapper {
    display: flex;
    align-items: center;
  }
  .gas-reduction-btn {
    border: none;
    background-color: $app-dark-color;
    color: white;
    margin: 6px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gas-reduction-input {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 8px 10px;
    font-size: 18px;
    background-color: #f1f1f1;
  }
}

.input-label {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}
