.bg {
  min-height: 100vh;
  background: linear-gradient(to right, #9f6ee6, #61c6cd);
  display: flex;
  flex-direction: column;
}

.content_box {
  max-width: 1920px;
  margin: 0 auto;
  flex: 1;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  .text {
    padding-left: 60px;
    padding-right: 60px;
    h2 {
      color: $app-white-color;
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .p_btn {
      display: flex;
      align-items: flex-start;
      p {
        line-height: 42px;
        font-size: 22px;
        color: white;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .box_btn {
    align-self: auto;
    margin-left: 180px;
    .run_btn {
      height: 111px;
      width: 239px;
      background-color: white;
      color: black;
      padding: 16px 32px;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid black;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 100px;
      margin-bottom: 50px;
      box-shadow: 0 4px 6px rgba(102, 51, 153, 0.5);
      &:hover {
        background-color: lighten($app-white-color, 5%);
        box-shadow: 0 2px 3px rgba(102, 51, 153, 0.5);
      }
      &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 3px rgba(102, 51, 153, 0.3);
      }
    }
  }

  .features {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 60px;
    .feature_box {
      background-color: $app-dark-color;
      padding: 32px;
      border-radius: 8px;
      border: 1px solid white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
      h3 {
        color: $app-white-color;
        font-size: 20px;
        margin: 8px 0;
      }
      p {
        color: white;
        text-align: justify;
      }
      .feature_icon {
        margin-bottom: 16px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
