@import "settings/normalize";
@import "settings/fonts";
@import "settings/colors";

html,
body {
  font-size: 16px;
  position: relative;
}

* {
  font-family: $font-alt;
}

.bg {
  min-height: 100vh;
  background: linear-gradient(to right, #9f6ee6, #61c6cd);
  display: flex;
  flex-direction: column;
}

@import "components/Nav";
@import "components/Home";
@import "components/Dapp";
@import "components/Footer";
