@import "components/normalize";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-base: "Trade Winds", sans-serif;
$font-alt: "Inter", sans-serif;

$app-primary-color: #7c3aed;
$app-secondary-color: #a855f7;
$app-light-color: #e0e7ff;
$app-dark-color: #431a9f;
$app-white-color: #ffffff;

* {
  font-family: $font-alt;
}

  .bg {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #9f6ee6, #61c6cd);
  }

  .header {
    background-color: $app-dark-color;
    padding: 0.5rem 1rem; // Reduced padding to make the header less tall
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
    z-index: 42;
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;

    .logo_container {
      display: flex;
      align-items: center;
      max-height: 71px; // You can adjust this if the header is still too tall
      max-width: 105px;
      img{
        max-width: 60px;
        max-height: 60px;
      }
    }

    .app_title {
      font-family: $font-base; // Apply Trade Winds font to the app title
      margin-left: 0.5rem; // Space between the logo and the title
      color: $app-white-color;
      font-size: 3rem; // You can adjust this if the header is still too tall
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 0;
    }

    .wallet-button {
      margin-left: auto;
      background-color: white;
      color: black;
      padding: 15px 35px;
      margin-right: 25px;
      border: 1px solid black; // Thin black border
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background-color: $app-light-color;
      }
    }
  }

  
.main-content {
  display: flex; // Use flex to position text and button
  flex-direction: column; // Stack them vertically
  align-items: flex-start;
   // Align items to the start of the container
  padding: 2rem;
  
  .txt {
    // Styles for the text container
    h2 {
      color: $app-white-color;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.5rem; // Space between title and paragraph
    }
    p {
      line-height: 42px;
      font-size: 22px;
      color: white;
      margin-bottom: 2rem; // Space between paragraph and button
    }
  }
  .btnbox{
    align-self: flex-end; // Align the button to the end of the container
    margin-top: -3.5rem;
    .run-app-button {
      background-color: white;
      color: black; // Assuming $app-dark-color is black or a dark shade
      padding: 1rem 2rem;
      font-size: 1rem; // Adjust font size as needed
      font-weight: bold;
      border: 1px solid black; // Thin black border
      border-radius: 0.5rem; // Adjust border radius as needed for rounded corners
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 100px;
      margin-bottom: 50px;
      
      // Adjust the box-shadow to create the 3D effect with purple shadow
      box-shadow: 0 4px 6px rgba(102, 51, 153, 0.5); // This color is a semi-transparent purple
      
      &:hover {
        background-color: lighten($app-white-color, 5%); // Slightly lighter on hover
        // Adjust the box-shadow to make it look like the button is being pressed
        box-shadow: 0 2px 3px rgba(102, 51, 153, 0.5);
      }
      
      &:active {
        // Transform the button to look like it's being pressed
        transform: translateY(2px);
        // Less shadow when the button is active to simulate being pressed down
        box-shadow: 0 2px 3px rgba(102, 51, 153, 0.3);
      }
    }
  }

    .features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .feature-box {
        background-color: $app-dark-color;
        padding: 1rem;
        border-radius: 0.5rem;
        h3 {
          color: $app-white-color;
          font-size: 1.25rem;
          margin: 0.5rem 0;
        }
        p {
          color: $app-secondary-color;
        }
        .feature-icon {
          margin-bottom: 1rem;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  
  .footer {
    background-color: $app-dark-color;
    color: $app-secondary-color;
    text-align: center;
    padding: 1rem;
    span {
      font-weight: bold;
    }
  }

$btn-bg: #6B46C1;
$btn-bg-hover: #553C9A;
$input-border-color: #CBD5E0;

.main {
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to right, #9f6ee6, #61c6cd);
}

.form-container {
  display: flex;
  margin: 2rem;
}

.form-box {
  background: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 1rem;
}

.form-box {
  h2 {
    color: black;
    margin-bottom: 1rem;
  }

  .radio-group {
    margin-bottom: 1rem;

    input[type="radio"] {
      margin-right: 0.5rem;
    }

    label {
      color: black;
      font-weight: bold;
    }
  }

  input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid $input-border-color;
    border-radius: 0.375rem;
    &:disabled {
      background: #E2E8F0;
    }
  }

  button {
    padding: 0.75rem 1.5rem;
    background: $btn-bg;
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    &:hover {
      background: $btn-bg-hover;
    }
  }
}

.info-box {
  max-width: 489px;
  max-height: 250px;
  background: $app-dark-color;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 1rem;
  p {
    font-family: $font-alt;
    color: white;
    font-size: 16px;
    margin-bottom: 1rem;
  }
}

.infocontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); // Adjust the box-shadow to match your design
  font-family: 'Arial', sans-serif; // Use the font of your choice

  .inner-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    p {
      margin: 0;
      padding: 5px 0;
      &:first-child {
        font-weight: bold;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header1 {
  background-color: $app-dark-color;
  padding: 0.5rem 1rem; // Reduced padding to make the header less tall
  display: flex;
  justify-content: start;
  align-items: center;
  top: 0;
  z-index: 42;
  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid white;

  .logo_container1 {
    display: flex;
    align-items: center;
    max-height: 71px; // You can adjust this if the header is still too tall
    max-width: 105px;
    img{
      max-width: 60px;
      max-height: 60px;
    }
  }

  .app_title1 {
    font-family: $font-base; // Apply Trade Winds font to the app title
    margin-left: 0.5rem; // Space between the logo and the title
    color: $app-white-color;
    font-size: 3rem; // You can adjust this if the header is still too tall
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  .wallet-button1 {
    margin-left: auto;
    background-color: white;
    color: black;
    padding: 15px 35px;
    margin-right: 25px;
    border: 1px solid black; // Thin black border
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: $app-light-color;
    }
  }
}

.gas-reduction {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom:20px;
}

.gas-reduction-label {
  margin-right: 10px;
}

.gas-reduction-btn {
  border: none;
  background-color: #5552FF;
  color: white;
  margin:6px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gas-reduction-input {
  text-align: center;
  width: 40px;
  height: 31px;
  margin: 0;
  font-size: 14px;
  border: 1px solid #000; /* Ustawia obramowanie o grubości 1px i kolorze czarnym */
  border-radius: 4px; 
}